venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

linear_trend.html
coding_tests_ipynb/

tlearning/lm/static/video_games_1.html

tlearning/lm/static/exp_trend.html

tlearning/lm/static/point_click.html

tlearning/lm/static/l2_games.html

tlearning/logreg/static/sigmoid.html

tlearning/logreg/static/smokers.html

tlearning/logreg/static/binary_classification.html

tlearning/logreg/static/CE_loss.html

tlearning/logreg/models_code/data/cifar-10-batches-py/batches.meta

tlearning/logreg/models_code/data/cifar-10-batches-py/data_batch_1

tlearning/logreg/models_code/data/cifar-10-batches-py/

tlearning/logreg/models_code/data/cifar-10-python.tar.gz
