venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

linear_trend.html
coding_tests_ipynb/

tlearning/lm/static/video_games_1.html

tlearning/lm/static/exp_trend.html

tlearning/lm/static/point_click.html
