{% extends 'base.html' %}
<div id="main">

  {% block content %}
  <h1> {% block title %} The logistic regression {% endblock %}</h1>
  <div id="Sidebar" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="#inline">1. Classification with logistic regression?</a><br />
    <a style="margin-left: 2rem;" href="#simple">1.1 Binary classification with contingency tables</a><br />
  </div>
  {% block head %}
  <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        TeX: {
           equationNumbers: {  autoNumber: "AMS"  },
           extensions: ["AMSmath.js", "AMSsymbols.js", "autobold.js", "color.js"]
        }
      });
  </script>

  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  {% endblock %}
  <button class="openbtn" onclick="openNav()">☰ Contents</button>

  <h2 id="inline">Classification with the logistic regression?</h2>
  <p align="justify">
    The logistic regression is a classification tool based on the probability to belong to a category.
    It can be used in different situations, with more than two classes. However, our goal is to build it up to the
    multi-class.
  </p>
  <h3 id="simple">Binary classification with contingency tables</h3>
  <p align="justify">
    First, we look at a simpler problem, where we observe some data and regroup the values. We can imagine
    that our data is an number of smokes per day in average and we look at the number of people with a lung cancer after
    20 years
    (this is a mock dataset purely invented).
  </p>

  <table style="margin-left:auto;margin-right:auto;border-collapse:collapse;border-color:#9ABAD9;border-spacing:0"
    class="tg">
    <thead>
      <tr>
        <th
          style="background-color:#409cff;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:12px 17px;text-align:left;vertical-align:top;word-break:normal">
        </th>
        <th
          style="background-color:#409cff;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:12px 17px;text-align:left;vertical-align:top;word-break:normal">
          1</th>
        <th
          style="background-color:#409cff;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:12px 17px;text-align:left;vertical-align:top;word-break:normal">
          3.5</th>
        <th
          style="background-color:#409cff;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:12px 17px;text-align:left;vertical-align:top;word-break:normal">
          5<br></th>
        <th
          style="background-color:#409cff;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:12px 17px;text-align:left;vertical-align:top;word-break:normal">
          10.75<br></th>
        <th
          style="background-color:#409cff;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:12px 17px;text-align:left;vertical-align:top;word-break:normal">
          15</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td
          style="background-color:#EBF5FF;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 17px;text-align:left;vertical-align:top;word-break:normal">
          Y=1: deads<br></td>
        <td
          style="background-color:#EBF5FF;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 17px;text-align:center;vertical-align:top;word-break:normal">
          3</td>
        <td
          style="background-color:#EBF5FF;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 17px;text-align:center;vertical-align:top;word-break:normal">
          9<br></td>
        <td
          style="background-color:#EBF5FF;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 17px;text-align:center;vertical-align:top;word-break:normal">
          7<br></td>
        <td
          style="background-color:#EBF5FF;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 17px;text-align:center;vertical-align:top;word-break:normal">
          8<br></td>
        <td
          style="background-color:#EBF5FF;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 17px;text-align:center;vertical-align:top;word-break:normal">
          13</td>
      </tr>
      <tr>
        <td
          style="background-color:#EBF5FF;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 17px;text-align:left;vertical-align:top;word-break:normal">
          Y=0: alive</td>
        <td
          style="background-color:#EBF5FF;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 17px;text-align:center;vertical-align:top;word-break:normal">
          47</td>
        <td
          style="background-color:#EBF5FF;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 17px;text-align:center;vertical-align:top;word-break:normal">
          59</td>
        <td
          style="background-color:#EBF5FF;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 17px;text-align:center;vertical-align:top;word-break:normal">
          43</td>
        <td
          style="background-color:#EBF5FF;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 17px;text-align:center;vertical-align:top;word-break:normal">
          22</td>
        <td
          style="background-color:#EBF5FF;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 17px;text-align:center;vertical-align:top;word-break:normal">
          27</td>
      </tr>
      <tr>
        <td
          style="background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 17px;text-align:left;vertical-align:top;word-break:normal">
          total</td>
        <td
          style="background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 17px;text-align:center;vertical-align:top;word-break:normal">
          50</td>
        <td
          style="background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 17px;text-align:center;vertical-align:top;word-break:normal">
          60<br></td>
        <td
          style="background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 17px;text-align:center;vertical-align:top;word-break:normal">
          50<br></td>
        <td
          style="background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 17px;text-align:center;vertical-align:top;word-break:normal">
          30</td>
        <td
          style="background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 17px;text-align:center;vertical-align:top;word-break:normal">
          40</td>
      </tr>
    </tbody>
  </table>

  <p align="justify">
    We could rewrite that with notations to follow our reasoning with maths.

  </p>

  <table style="margin-left:auto;margin-right:auto;border-collapse:collapse;border-color:#9ABAD9;border-spacing:0"
    class="tg">
    <thead>
      <tr>
        <th
          style="background-color:#409cff;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:12px 18px;text-align:left;vertical-align:top;word-break:normal">
        </th>
        <th
          style="background-color:#409cff;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:12px 18px;text-align:left;vertical-align:top;word-break:normal">
          \(x_1\)</th>
        <th
          style="background-color:#409cff;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:12px 18px;text-align:left;vertical-align:top;word-break:normal">
          \(x_2\)<br></th>
        <th
          style="background-color:#409cff;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:12px 18px;text-align:left;vertical-align:top;word-break:normal">
          \(x_3\)</th>
        <th
          style="background-color:#409cff;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:12px 18px;text-align:left;vertical-align:top;word-break:normal">
          ...</th>
        <th
          style="background-color:#409cff;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:12px 18px;text-align:left;vertical-align:top;word-break:normal">
          \(x_C\)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td
          style="background-color:#EBF5FF;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 18px;text-align:left;vertical-align:top;word-break:normal">
          Y=1: deads<br></td>
        <td
          style="background-color:#EBF5FF;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 18px;text-align:center;vertical-align:top;word-break:normal">
          \(n_{11}\)<br></td>
        <td
          style="background-color:#EBF5FF;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 18px;text-align:center;vertical-align:top;word-break:normal">
          \(n_{12}\)</td>
        <td
          style="background-color:#EBF5FF;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 18px;text-align:center;vertical-align:top;word-break:normal">
          \(n_{13}\)<br></td>
        <td
          style="background-color:#EBF5FF;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 18px;text-align:center;vertical-align:top;word-break:normal">
          ...</td>
        <td
          style="background-color:#EBF5FF;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 18px;text-align:center;vertical-align:top;word-break:normal">
          \(n_{1C}\)<br></td>
      </tr>
      <tr>
        <td
          style="background-color:#EBF5FF;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 18px;text-align:left;vertical-align:top;word-break:normal">
          Y=0: alive</td>
        <td
          style="background-color:#EBF5FF;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 18px;text-align:center;vertical-align:top;word-break:normal">
          \(n_{01}\)<br></td>
        <td
          style="background-color:#EBF5FF;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 18px;text-align:center;vertical-align:top;word-break:normal">
          \(n_{02}\)</td>
        <td
          style="background-color:#EBF5FF;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 18px;text-align:center;vertical-align:top;word-break:normal">
          \(n_{03}\)<br></td>
        <td
          style="background-color:#EBF5FF;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 18px;text-align:center;vertical-align:top;word-break:normal">
          ...</td>
        <td
          style="background-color:#EBF5FF;border-color:inherit;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 18px;text-align:center;vertical-align:top;word-break:normal">
          \(n_{0C}\)<br></td>
      </tr>
      <tr>
        <td
          style="background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 18px;text-align:left;vertical-align:top;word-break:normal">
          total</td>
        <td
          style="background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 18px;text-align:center;vertical-align:top;word-break:normal">
          \(n_1\)</td>
        <td
          style="background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 18px;text-align:center;vertical-align:top;word-break:normal">
          \(n_2\)</td>
        <td
          style="background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 18px;text-align:center;vertical-align:top;word-break:normal">
          \(n_3\)</td>
        <td
          style="background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 18px;text-align:center;vertical-align:top;word-break:normal">
          ...</td>
        <td
          style="background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:1px;color:#444;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:12px 18px;text-align:center;vertical-align:top;word-break:normal">
          \(n_C\)</td>
      </tr>
    </tbody>
  </table>

  So we have \(n=\displaystyle\sum_{i=1}^C n_i\) observations amongst \(C\) categories. The idea is to consider the model:
  $$\mathrm{P}(Y=1\,|\, X=x)=\sigma(\beta_0 + \beta_1 x)=\frac{e^{\beta_0 + \beta_1 x}}{1 + e^{\beta_0 + \beta_1 x}}\enspace.$$

  The function \(\sigma\) is the sigmoïd, it has quite a few nice properties that we shall see along the way.
  <div class="container">
    <div class="row h-200">
      <div class="col my-auto">
          <ul>
            <li>\(\sigma(x)=\frac{e^x}{1+e^x}=\frac{1}{1+e^{-x}}\),</li>
            <br/>
            <li>\(\sigma'(x)=\sigma(x)(1-\sigma(x)).\)</li>
            <br/>
            <li>\(\sigma(x)=\frac{1}{2}(1+\tanh\left(\frac{x}{2}\right)).\)</li>
          </ul>
          </div>
      <div class="col-8">
        <iframe title="sigmoid" src="{{url_for('logreg_bp.static', filename='sigmoid.html')}}"
          style="border-width: 0px" height="500px" width="100%"></iframe>
      </div>
    </div>
  </div>


<p align="justify">
  As you can see, the sigmoid goes quickly but smoothly from one asymptote to the other.
  The line \(y=\frac{1}{2}\) is important as it is where our boundary will be set.
  Indeed, if \(\mathrm{P}(Y=1\,|\,x)>0.5)\), then we assign \(Y\) to \(1\), else \(0\) (the reversed situation is also true).
</p>


</div>
{% endblock %}