<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--Plotly-->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML">
  </script>
  <!--Number headings-->
  <link href="../static/mycss.css" rel="stylesheet" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>{% block title %} {% endblock %}</title>
  {% block head %} {% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('home_bp.home')}}">Tlearning</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav nav-tabs">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Linear model</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/lm/concept_lm">Concept</a>
            <a class="dropdown-item" href="/lm/math_lm">Some maths</a>
            <a class="dropdown-item" href="/lm/coding_lm">Coding</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/lm/playing_lm">Your turn</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Logistic regression</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/logreg/concept_logreg">Concept</a>
            <a class="dropdown-item" href="/logreg/classification">Classification</a>
            <a class="dropdown-item" href="/logreg/multi_class">Multi class</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Web apps</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/dashapp_cifar">CIFAR10H</a>
            <a class="dropdown-item" href="/dashapp_character">RPG strategies</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div id="main">
    {% block content %} {% endblock %}
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script>
    var openbtn = document.getElementById("open");
    var closebtn = document.getElementById("close");
    var closewithin = document.getElementById("closewithin");
    openbtn.style.display = 'none';

    function openNav() {
        navbar = document.getElementById("Sidebar")
        navbar.style.visibility = "visible";
        main = document.getElementById("main")
        if ($(window).width() < 900) {
          navbar.style.height = "auto";
          main.style.marginLeft = "0";
        }
        else {
          navbar.style.height = "1000px";
          main.style.marginLeft = "200px";
        }
        navbar.style.opacity = "1";
        openbtn.style.display = 'none';
        closebtn.style.display = '';
    }

    openNav();

    function closeNav() {
        navbar = document.getElementById("Sidebar")
        main = document.getElementById("main")
        navbar.style.visibility = "hidden";
        navbar.style.opacity = "0";
        navbar.style.height = "0";
        if ($(window).width() > 900) {
          main.style.marginLeft = "0px";
        }
        openbtn.style.display = '';
        closebtn.style.display = 'none';
    }
  </script>

</body>

</html>